<h1>Pet Owners Served by PATS</h1><br>

<table class="datagrid">
  <thead class="datagrid">
    <th>Owner</th>
    <th>Phone</th>
		<th>Email</th>
		<th>&nbsp;</th>
  </thead>
  <% for owner in @owners %>
    <tr class="<%= cycle('dg_list_line_odd', 'dg_list_line_even') %>">
      <td><%= link_to "#{owner.last_name}, #{owner.first_name}", owner_path(owner) %></td>
      <td><%= number_to_phone owner.phone %></td>
      <td><%= mail_to owner.email, owner.email, :encode => "javascript" %></td>
	  	<td align="center">
				<%= link_to(image_tag("icons/edit_dg.gif", border: 0), edit_owner_path(owner))  %>
				<%= link_to(image_tag("icons/delete_dg.gif", border: 0), owner_path(owner), method: :delete, data: { confirm: 'Are you sure you wish to delete this information?' }) %>
	  	</td>
    </tr>
  <% end %>
</table>
<p class="supertiny"></p>

<!-- Add the pagination using will_paginate gem -->
<span class="smtext">
<%= will_paginate @owners, :previous_label => "Previous&nbsp;", :next_label => "&nbsp;Next" %>
</span>

<p><strong><%= link_to "Add A New Owner", new_owner_path %></strong></p>
