<%= form_for(@visit) do |f| %>
  <% if @visit.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@visit.errors.count, "error") %> prohibited this visit from being saved:</h2>

      <ul>
      <% @visit.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :pet_id %><br />
    <%= f.select :pet_id, get_pet_options, :prompt => "Select ..." %>
  </div>
  <div class="field">
    <%= f.label :date %><br />
    <%= f.date_select :date, order: [:month, :day, :year], start_year: 1.year.ago.year, end_year: Date.today.year %>
  </div>
  <div class="field">
    <%= f.label :weight %><br />
    <%= f.number_field :weight %>
  </div>
  <div class="field">
    <%= f.label :notes %><br />
    <%= f.text_area :notes, :cols => 30, :rows => 6 %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
