<h2>Visit Information</h2>
<p>
  <strong>Pet:</strong>
  <%= link_to @visit.pet.name, pet_path(@visit.pet) %>
</p>
<p>
  <strong>Owner:</strong>
  <%= link_to "#{@visit.pet.owner.first_name} #{@visit.pet.owner.last_name}", owner_path(@visit.pet.owner) %>
</p>
<p>
  <strong>Animal:</strong>
  <%= @visit.pet.animal.name %>
</p>
<p>
  <strong>Visit Date:</strong>
  <%= @visit.date.strftime("%B %d, %Y") %>
</p>
<p>
  <strong>Weight:</strong>
  <%= @visit.weight %> lbs.
</p>
<% unless @vaccinations.empty? %>
	<p>
	  <strong>Vaccinations:</strong>
	  <% for vaccination in @vaccinations %>
		<%= link_to vaccination.vaccine.name, vaccination_path(vaccination) %>
	  <% end %>
	</p>
<p>
<% end %>
  <strong>Notes:</strong>
  <%= @visit.notes %>
</p>
<p class="supertiny">&nbsp;</p>
<p>
  <%= link_to "Edit", edit_visit_path(@visit) %> |
  <%= link_to "Destroy", @visit, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", visits_path %>
</p>
