<%= form_for(@pet) do |f| %>
  <% if @pet.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@pet.errors.count, "error") %> prohibited this pet from being saved:</h2>

      <ul>
      <% @pet.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :animal_id %><br />
    <%= f.collection_select :animal_id, Animal.all, :id, :name, :prompt => "Select ..." %>
  </div>
  <div class="field">
    <%= f.label :owner_id %><br />
    <%= f.collection_select :owner_id, Owner.active.all, :id, :name, :prompt => "Select ..." %>
  </div>
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :female %><br />
    <%= f.check_box :female %>
  </div>
  <div class="field">
    <%= f.label :date_of_birth %><br />
    <%= f.date_select :date_of_birth %>
    <%# f.date_select :date_of_birth, order: [:month, :day, :year] %>
    <%# f.date_select :date_of_birth, order: [:month, :day, :year], start_year: 25.years.ago.year %>
  </div>
  <div class="field">
    <%= f.label :active %><br />
    <%= f.check_box :active %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
