<div id="nav">
	<ul>
	<!-- OPTIONS FOR EVERYONE -->
		<!--<li><em>Option: </em></li>-->
		<li><%= link_to 'Owners', owners_path %></li>
		<li><%= link_to 'Pets', pets_path %></li>
		<li><%= link_to 'Visits', visits_path %></li>
		<li><%= link_to 'Vaccinations', vaccinations_path %></li>
		
		<li><%= link_to 'Login', 'http://www.google.com' %></li>
	</ul>
</div> <!-- end of nav div -->