<h2>Vaccine Information:</h2>

<p>
  <strong>Name:</strong>
  <%= @vaccine.name %>
</p>
<p>
  <strong>Animal:</strong>
  <%= link_to @vaccine.animal.name, animal_path(@vaccine.animal) %>
</p>
<p>
  <strong>Duration:</strong>
  <%= @vaccine.duration %> days
</p>
<p class="supertiny">&nbsp;</p>
<p>
  <%= link_to "Edit", edit_vaccine_path(@vaccine) %> |
  <%= link_to "Destroy", @vaccine, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", vaccines_path %>
</p>
