<h1>All the <%= @animal.name.capitalize.pluralize %> Treated at PATS</h1><br>

<table class="datagrid">
  <thead class="datagrid">
    <th width="90">Pet</th>
	<th width="150">Owner</th>
  </thead>
  
<% for pet in @pets %>
  <tr class="<%= cycle('dg_list_line_odd', 'dg_list_line_even') %>">
    <td align="left"><%= link_to pet.name, pet_path(pet) %></td>
	<td align="left"><%= link_to pet.owner.name, owner_path(pet.owner) %></td>
  </tr>
<% end %>
</table>
<p class="supertiny"></p>

<!-- Add the pagination using will_paginate gem -->
<span class="smtext">
<%= will_paginate @pets, :previous_label => "Previous&nbsp;", :next_label => "&nbsp;Next" %>
</span>
<p>
  <%= link_to "Back to All Animals", animals_path %>
</p>